<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Экспедиции</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header" ></header>

<div class="container">
    <form action="/expeditions/add">
        <button type="submit" class="btn btn-success">Добавить экспедицию</button>
    </form>
</div>

<div class="container mt-5">
    <h3>Экспедиции</h3><br>

    <form action="/expeditions" method="post">
        <input type="text" pattern="[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])" name="date_start" placeholder="Дата начала (гггг-мм-дд)" class="form-control"><br>
        <input type="text" pattern="[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])" name="date_end" placeholder="Дата конца (гггг-мм-дд)" class="form-control"><br>
        <button type="submit" class="btn btn-success">Поиск</button>
    </form><br>

    <div th:each="obj : ${objects}" class="alert alert-info mt-2">
        <h5 th:text="'Экспедиция №' + ${obj.id}"></h5>
        <p><b>Дата начала: </b><span th:text="${obj.dateStart}"/></p>
        <p><b>Дата конца: </b><span th:text="${obj.dateEnd}"/></p>
        <p><b>Участники: </b><span th:text="${obj.members}"/></p>
        <p th:text="${obj.description}"></p>
        <a th:href="'/expeditions/' + ${obj.id}">Детальнее</a>
    </div>
    <h5 th:if="${objects.empty}">Экспедиции не найдены</h5>
</div>
</body>
</html>