<div th:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Коллекция минералов</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
                <li class="nav-item"><a href="/minerals" class="nav-link">Минералы</a></li>
                <li class="nav-item"><a href="/" class="nav-link">Образцы</a></li>
                <li class="nav-item"><a href="/expeditions" class="nav-link">Экспедиции</a></li>
            </ul>
        </header>
    </div>
</div>